@import "tailwindcss";

.lilita-font {
  font-family: "Lilita One", sans-serif;
  font-style: normal;
}

.permanent-marker-font {
  font-family: "Permanent Marker", cursive;
  font-weight: 600;
  font-style: normal;
}

.flip-x {
  transform: scaleX(-1);
}