@import "tailwindcss";

* {
  font-family: "Convergence", sans-serif;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.permanent-marker-font {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.dancing-script-font {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.kalam-font {
  font-family: "Kalam", cursive;
  font-weight: 600;
  font-style: normal;
}

.flip-x {
  transform: scaleX(-1);
}


.loader-text {
  width: fit-content;
  font-style: italic;
  color: #0000;
  text-shadow: 0px 0px 0px rgba(242, 255, 0, 0.049);
  background:
    linear-gradient(-40deg, #0000 40%, #ffffff 0 60%, #0000 0) 0/300% 100% no-repeat text;
  /* background-position: 20%; */
  animation: l3 4s linear infinite;
}

@keyframes l3 {
  0% {
    background-position: 100%
  }

  70% {
    background-position: 0%
  }
}

.shimmer-text {
  background: linear-gradient(90deg,
      rgba(245, 158, 11, 0.6) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(245, 158, 11, 0.6) 100%);
  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shimmer 3s linear infinite;
}

@keyframes shimmer {
  to {
    background-position: 200% center;
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-20px) rotate(2deg);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}