@import "tailwindcss";

* {
  font-family: "Convergence", sans-serif;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 0; height: 0;
}

.permanent-marker-font {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.flip-x {
  transform: scaleX(-1);
}